.footer-container {
  background-color: #006064;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 35px 20px;
  color: white;
  font-family: roboto;
  font-weight: 700;
}

.rrss-link-footers {
  display: flex;
  justify-content: space-around;
}

.section-footer-1 {
  margin-bottom: 50px;
}

.sector-footer-2 {
  display: flex;
}

.address-footer {
  border-left: 5px solid #fff;
  padding: 30px 15px;
  width: 50%;
}

.menu-footer {
  border-left: 5px solid #fff;
}

.logo-footer {
  display: inline-block;
}

.logo-img {
  width: 90px;
}

.link-footer {
  padding: 20px;
  margin: 10px;
  color: var(--my-white);
}

.link-footer a {
  color: var(--my-white);
}

.link-footer:hover {
  background-color: aqua;
  color: var(--my-black);
  border-radius: 55px;
}

@media screen and (max-width: 375px) {
  .sector-footer-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .address-footer {
    width: 100%;
    margin: auto;
    border-top: #fff solid 5px;
    border-left: none;
  }

  .menu-footer {
    border-left: none;
  }
}
